In [1]:
%load_ext sparkmagic.magics

http://192.168.1.123:8998/

In [2]:
%manage_spark

MagicsControllerWidget(children=(Tab(children=(ManageSessionWidget(children=(HTML(value='<br/>'), HTML(value='…

Added endpoint http://10.13.12.209:8998
Starting Spark application

SparkSession available as 'spark'.

In [11]:
%%spark
val sqlContext = new org.apache.spark.sql.hive.HiveContext(sc)

val df = sqlContext.read.format("com.crealytics.spark.excel").option("sheetName", "pc").option("useHeader", "true").option("inferSchema", "false").load("/user/hive/data/smmt/smmt.xls")
df.createTempView("pc")

warning: there was one deprecation warning; re-run with -deprecation for details
sqlContext: org.apache.spark.sql.hive.HiveContext = org.apache.spark.sql.hive.HiveContext@256285cf
df: org.apache.spark.sql.DataFrame = [date: string, passenger_cars: string]

In [12]:
%%spark -c sql
SHOW TABLES

  database      tableName  isTemporary
0  default  cleaned_taxes        False
1                      pc         True

In [13]:
%%spark -c sql
SELECT * from pc limit 3

        date  passenger_cars
0 2018-06-30          234945
1 2018-05-31          192649
2 2018-04-30          167911

In [14]:
%%spark -c sql
DROP TABLE IF EXISTS passenger_cars

Empty DataFrame
Columns: []
Index: []

In [15]:
%%spark -c sql 

CREATE TABLE passenger_cars AS
SELECT 
 date, 
 passenger_cars
FROM pc

Empty DataFrame
Columns: []
Index: []

In [16]:
%%spark -c sql -q -o df_passenger_cars
SELECT * from pc

In [17]:
from autovizwidget.widget.utils import display_dataframe
display_dataframe(df_passenger_cars)

VBox(children=(HBox(children=(HTML(value='Type:'), Button(description='Table', layout=Layout(width='70px'), st…

Output()

AutoVizWidget()

  
We're going to try and do a linear regression on this